{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="page-banner overlay-dark bg-image" style="background-image: url(/static/img/3987782.jpg);">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <nav aria-label="Breadcrumb">
          <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'register' %}">Join Today</a></li
          </ol>
        </nav>
        <h1 class="font-weight-normal">Login</h1>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->
 <div class="page-section">
    <div class="container">
      <h1 class="text-center wow">LogIn To Your Account</h1>
      <form class="contact-form mt-5" method="POST">
        {% csrf_token %}
        <div class="row mb-3">
        <div class="col-sm-8 py-2 wow">
            {{ form|crispy }}
          </div>

        </div>
        <button type="submit" class="btn btn-primary wow zoomIn">LogIn</button>
        <a href=""><small class="ml-4">Reset Password</small></a>

        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
      </form>
    </div>
  </div>



{% endblock content %}

